/* .App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */
/* 
.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	font-size: calc(10px + 2vmin);
} */

/* .App-link {
	color: #61dafb;
} */

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

.header {
	border: 50px;
	background-color: red;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	color: white;
}

.card-main {
	display: flex;
}

.card {
	display: flex;
}

.card-img {
	max-width: 50%;
	height: auto;
}

.card-location {
	display: flex;
	flex-wrap: wrap;
}

.card-location:nth-of-type(2) {
	flex-basis: 50%;
}

.card-details {
}

.card-information {
}

.card-dates {
}

.card-desc {
	width: 50%;
}
